.SliderComponent{
	width: 800px;
	height: 500px;
	position: relative;
	.slideBox{
		width:500%;
		position:absolute;
		left:0;
		top:0;
		height:100%;
		overflow: hidden;
		li{
			height:100%;
			width:800px;
			float: left;
			display: flex;
			justify-content:center;
			align-items:center;
			*{
				max-height: 100%;
			}
		}
	}
}